@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: ledlight;
  src: url(./ledlight/LEDLIGHT.otf);
}
@font-face {
    font-family: cotillion;
    src: url(./Cotillion_Regular/COTILLIO.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: sf_quart;
    src: url(./SF_Quartzite/SFQuartzite-Oblique.ttf);
}
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #000000;
    width: 100vw;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#space{
    margin: 30px;
    height: 770px;
    position: relative;
    background-color: #000000;
    border: 1px solid #97ff57;
    border-style: dashed;
    overflow-x: hidden;
}
.sub-text{

    bottom: 10px;
    left: 20px;
    position: absolute;
}
.sub-text2{
    writing-mode: vertical-rl;
    position: absolute;
    bottom: 20px;
    right: 15px;
    font-size: 17px;
    color: #97ff57;
}
.header{
    font-family: 'GmarketSansMedium';
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
    color: #97ff57;
    
}
.typing-txt{
  display: none;
}
.typing-txt ul{
  list-style:none;
}

.typing-txt>ul>li{
    color: #97ff57;
    font-size: 10px;
}
.type{
    margin-top: 190px;
    display: flex;
    justify-content: center;
}

.typing {  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.3s; 
  animation-iteration-count: infinite; 
  font-size: 130px;
  color: #97ff57;
} 

@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}
 
.container {
  padding: 150px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.container>p{
  color: #97ff57;
font-size: 16px;
}
  .music-container {
 background-image: url(img/mp3.png);
    position: relative;
    width: 820px;
    height: 470px;
  }
  
  .music-info {
    position: absolute;
    padding: 10px 10px 10px 150px;
    height: 50px;
    width: 250px;
    bottom: 45px;
    font-size: 20px;
    left: 230px;
    color: #97ff57;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in;
    z-index: 0;
    animation-play-state: paused;
  }
  
  .music-container.play .music-info {
    animation: showMusicInfo 0.5s forwards;
    animation-play-state: running;
  }
  
  @keyframes showMusicInfo {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  
  .music-info h4 {
    margin: 0;
  }
  
  .progress-container {
    margin: 5px 0;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .progress {
    background-color:  #97ff57;
    height: 4px;
    width: 0%;
    border-radius: 5px;
    transition: width 0.1s linear;
  }
  .img-container {
    position: absolute;
    left: 40;
    width: 110px;
    height: 110px;
  }
  
  .img-container::after {
    content: '';
    position: absolute;
    top: 40;
    left: 40;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 10;
  
  }
  
  .img-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .navigation {
    position: absolute;
    bottom: 80px;
    left: 75px;
    display: flex;
  }
  
  .navigation button {
    background-color: #00000000;
    border: none;
    position: absolute;
    padding: 10px;
    bottom: -50px;
    margin: 10px;
    cursor: pointer;
    font-size: 25px;
  }
  #prev{
    left: 35px;
  }
  #play{
    bottom: -55px;
    left: 165px;
  }
  #next{
    left: 100px;
  }

.photo{
  display:flex;
  width: 50%;
  margin: 0px auto;
  border: 1px solid #97ff57;
  justify-content: center;
}
.photo>div>video{
  width: 100%;
  margin: 5px;
}
.photo>img{
  width: 49%;
}
.photo>div>.mini-box>img{
  width:100%
}

.txt{
  margin: 120px auto 20px auto;
  padding: 10px 0px;
  font-family: ledlight;
  text-align: center;
  font-size: 80px;
  color: #97ff57;
}

.image-content {
  width: 616px;
  padding-bottom: 120px;
  margin: 0 auto;
}

.image-container::before {
  float: left;
  padding-top: 133.76623376623376%;
  content: "";
}

.image-container::after {
  display: block;
  content: "";
  clear: both;
}

.images {
  width: 35%;
  height: 80%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 150px 120px 330px);
  grid-template-rows: repeat(3, 265px 265px 265px);
  gap: 8px;
  grid-template-areas:
    "img-2 img-1 img-1"
    "img-3 img-1 img-1"
    "img-4 img-1 img-1";
}

.product {
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 1px solid #97ff57;
  will-change: transform;
  background-color: #0e100f;
}

.product[data-grid="img-1"] {
  grid-area: img-1;
  z-index: 1;
  cursor: default;
}

.product[data-grid="img-2"] {
  grid-area: img-2;
}

.product[data-grid="img-2"] {
  grid-area: img-3;
}

.product[data-grid="img-4"] {
  grid-area: img-4;
}

.product {
  overflow: hidden;
}

.product >video{
 width: 100%;
}
.product>p{
  color: #000000;
  background-color: #97ff57;
  padding: 4px 10px;
  position: absolute;
  font-size: 16px;
  font-family: 'GmarketSansMedium';
  text-transform: uppercase;
  top:0px;
  opacity: 0;
}
.product:hover>p{
  opacity: 1;
}

@media (max-width: 800px) {
  .app {
    flex-direction: column;
  }

  .main-content {
    padding-top: 1.5rem;
  }
}

footer{
  display: flex;
  justify-content: center;
  margin: 0 auto;

}
footer>a{
  padding: 5px 10px;
}

@media (max-width: 430px) {
  .music-container {
    background-image: url(img/mp3.png);
       position: relative;
       background-size: 220px;
       background-repeat: no-repeat;
       width: 230px;
       height: 130px;
     }
     
  #space{
    margin: 30px;
    height: 300px;
    position: relative;
    background-color: #000000;
    border: 1px solid #97ff57;
    border-style: dashed;
    overflow-x: hidden;
}
.navigation button {
  background-color: #00000000;
  border: none;
  position: absolute;
  padding: 10px;
  bottom: -85px;
  margin: 10px;
  cursor: pointer;
  font-size: 25px;
}
#prev{
  width: 30px;
  overflow: hidden;
  left:-45px;
}
#play{
  width: 35px;
  overflow: hidden;
  bottom: -87.5px;
  left: -20px;
}
#next{
  width: 30px;
  overflow: hidden;
  left: -32.5px;
}
.navigation button>img{
  width: 100%;
}
.music-info {
  width: 30px;
  position: absolute;
  bottom: -27px;
  font-size: 6px;
  left: -45px;
  color: #97ff57;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in;
  z-index: 0;
  animation-play-state: paused;
}
.progress {
  background-color:  #97ff57;
  height: 2px;
  width: 0%;
  border-radius: 5px;
  transition: width 0.1s linear;
}
.progress-container {
  margin: 0px;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.container>p{
  color: #97ff57;
  font-size: 12px;
}
.type{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
  .typing {  
    display: inline-block; 
    animation-name: cursor; 
    animation-duration: 0.3s; 
    animation-iteration-count: infinite; 
    font-size: 30px;
    color: #97ff57;
  }
.sub-text{
opacity: 0;
}
  .sub-text>img{

}
.txt{
  margin: 120px auto 20px auto;
  padding: 10px 0px;
  font-family: ledlight;
  text-align: center;
  font-size: 27px;
  color: #97ff57;
}

  .image-content {
          height: 308px;
    width: 230px;
    padding-bottom: 120px;
    margin: 0 auto;
  }
  
  .images {
    width: 100%;
    height: 308px;
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(3, 60px 90px 80px);
    grid-template-rows: repeat(1, 95px 95px 95px);
    gap: 8px;
    grid-template-areas:
      "img-2 img-1 img-1"
      "img-3 img-1 img-1"
      "img-4 img-1 img-1";
  }
  .product>p{
    color: #000000;
    background-color: #97ff57;
    padding: 4px 10px;
    position: absolute;
    font-size: 8px;
    font-family: 'GmarketSansMedium';
    text-transform: uppercase;
    top:0px;
    opacity: 0;
  }
}
